.banner-wrap {
    height: 250px;
    background-image: url('../img/banner/bg_banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;

    &:after {
        content: "";
        width: 100%;
        height: 3px;
        background-color: rgba(#fff,0.2);

        position: absolute;
        bottom: 0;
        left: 0;
    }

    > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        > .left,
        > .right {
            > .item-banner {
                margin-bottom: 20px;
            }
        }
    }
}